@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scale-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  55% {
    transform: scale(1.2);
    opacity: 1;
  }
  75% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes revolve {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

body {
  font-family: "Open Sans", sans-serif;
}

.link {
  @apply text-blue-700;
}
.button {
  @apply transition-colors;
}

.button:focus {
  @apply outline-none;
}

.button.button-primary {
  @apply bg-blue-600;
  @apply text-white;
  @apply border-blue-900;
  @apply border;
}
.button.button-primary:hover {
  @apply bg-blue-500;
}
.button.button-primary:disabled {
  @apply bg-gray-400;
  @apply text-gray-100;
  @apply border-gray-200;
  @apply border;
  @apply cursor-default;
}
.login-sidebar {
  @apply transition;
  transition-property: width;
  position: absolute;
  z-index: 10;
  max-width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #bababac7;
  border-right: 1px solid #57575790;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.login-sidebar form {
  @apply px-2;
}

.sidebar {
  @apply flex-shrink-0;
  @apply px-2;
  width: 200px;
}
.content,
.sidebar {
  @apply py-2;
}
.collection-outer {
  width: 100%;
}
.collection-inner {
  @apply py-3;
  @apply bg-yellow-50;
  @apply border;
  @apply transition;
  @apply border-yellow-100;
  @apply cursor-pointer;
  padding-bottom: 2rem;
  position: relative;
  height: 100%;
}
.collection-inner:hover {
  @apply bg-yellow-100;
}
.collection-inner,
.collection-inner footer {
  @apply px-3;
}
.collection-inner .title {
  @apply font-bold;
}
.collection-inner .description {
  @apply text-sm;
}
.collection-inner footer {
  @apply flex;
  @apply justify-between;
  position: absolute;
  left: 0;
  bottom: 1rem;
  width: 100%;
}
.collection-inner footer sub {
  @apply text-gray-400;
}

@media (min-width: 1546px) {
}
@media (min-width: 1280px) {
  .collection-outer {
    width: 49%;
  }
  .collection-inner .title {
    @apply truncate;
  }
}
@media (min-width: 1024px) {
}
@media (min-width: 768px) {
  .login-sidebar {
    width: 400px;
  }
}
@media (min-width: 640px) {
}
